#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #FAFAFA;
}
.contact-container {
  /* A very soft grey/white - standard in modern UI */
  background-color: #FAFAFA; 
}

/* 2. Input Fields (The Boxes) */
.form-input {
  /* Pure white to pop against the background */
  background-color: #FFFFFF; 
}